body, html {
  margin: 0;
  overflow: hidden;
  -webkit-transition: opacity 400ms;
  -moz-transition: opacity 400ms;
  transition: opacity 400ms;
}

body, .onepage-wrapper, html {
  display: block;
  position: static;
  padding: 0;
  width: 100%;
  height: 100%;
}

.onepage-wrapper {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  padding: 0;
  -webkit-transform-style: preserve-3d;
}

.onepage-wrapper .section {
  width: 100%;
  height: 100%;
}

.onepage-pagination {
  position: absolute;
  right: 10px;
  top: 50%;
  z-index: 5;
  list-style: none;
  margin: 0;
  padding: 0;
}
.onepage-pagination li {
  padding: 0;
  text-align: center;
}
.onepage-pagination li a{
  padding: 10px;
  width: 4px;
  height: 4px;
  display: block;
  
}
.onepage-pagination li a:before{
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  background: rgba(0,0,0,0.85);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.onepage-pagination li a.active:before{
  width: 10px;
  height: 10px;
  background: none;
  border: 1px solid black;
  margin-top: -4px;
  left: 8px;
}

.disabled-onepage-scroll, .disabled-onepage-scroll .wrapper {
  overflow: auto;
}

.disabled-onepage-scroll .onepage-wrapper .section {
  position: relative !important;
  top: auto !important;
  left: auto !important;
}
.disabled-onepage-scroll .onepage-wrapper {
  -webkit-transform: none !important;
  -moz-transform: none !important;
  transform: none !important;
  -ms-transform: none !important;
  min-height: 100%;
}


.disabled-onepage-scroll .onepage-pagination {
  display: none;
}

body.disabled-onepage-scroll, .disabled-onepage-scroll .onepage-wrapper, html {
  position: inherit;
}


/*
@media (max-aspect-ratio: 16/10) { 
  .page1 {
    width: auto;
    height: 100%;
  }
}

@media (max-width: 1151px) { 
  .page1, .page3 { 
    min-width: 1080px; min-height: 675px; 
  } */
/*  .paper_h { 
    font-size: 58px;
  } 
  .paper_p { 
    font-size: 29px; line-height: 36px;
  }
  .paper_h + .paper_p { 
    font-size: 23px; line-height: 29px;
  } 
  .paper_button { 
    font-size: 18px;
  } 
  .paper_downloadText { 
    font-size: 23px;
  } 
  .paper_shareImage, .paper_shareText { 
    font-size: 18px;
  }*/
}

@media (max-width: 1079px) {
  .page1, .page3 { 
    min-width: 960px; min-height: 600px;
  } 
/*  .paper_h { 
    font-size: 51px;
  }
  .paper_p { 
    font-size: 26px; line-height: 32px;
  } 
  .paper_h + .paper_p {
    font-size: 21px; line-height: 26px;
  } 
  .paper_button {
    font-size: 16px;
  } 
  .paper_downloadText {
    font-size: 21px;
  }
  .paper_shareImage, .paper_shareText {
    font-size: 16px;
  } */
}

/*@media (min-height: 960px) {
  .uiList + .img, .uiList + .img + .img {
    border-width: 360px 40px;
  }
}*/

/*@media (min-height: 1200px) {
  .uiList + .img, .uiList + .img + .img {
    border-width: 480px 40px;
  }
}*/